<ion-header>
    <ion-navbar no-border-bottom>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

        <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">
            <ion-segment-button value="all">
                Tous les cours
            </ion-segment-button>
            <ion-segment-button value="favorites">
                Favorites
            </ion-segment-button>
        </ion-segment>

        <ion-buttons end>
            <button ion-button icon-only (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>

    <ion-toolbar no-border-top>
        <ion-searchbar color="primary" [(ngModel)]="queryText" (ionInput)="updateSchedule()" placeholder="Recherche">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-item>
        <!-- <ion-icon name="pin" item-start></ion-icon> -->
        <ion-label>Domaine </ion-label>
        <ion-select>
            <ion-option value="madison" selected>Informatique General</ion-option>
            <ion-option value="austin">Réseau et Maintenance</ion-option>
            <ion-option value="chicago">Développement Application</ion-option>
            <ion-option value="seattle">Electronique </ion-option>
        </ion-select>
    </ion-item>
    <ion-list #scheduleList [hidden]="shownSessions === 0" *ngFor="let cours of playList">

        <!--       <iframe width="100%" height="315" [src]="videoUrl" frameborder="0" allowfullscreen>
</iframe> -->
        <ion-card>

            <ion-card-content>
                <ion-card-title>
                    {{cours.title}}
                    <!-- <span class="customprix " [ngClass]="{'gratuit': !type(cours.types), 'payant': type(cours.types) }"> {{cours.types}}</span> -->
                    <button ion-button outline class="customprix " [ngClass]="{'gratuit': !type(cours.types), 'payant': type(cours.types) }" (click)="PlayVideo()">{{cours.types}}</button>
                    <button [hidden]="showModePay" ion-button outline class="customprix customButton" (click)="showModePays() ">{{showTextButon(cours.types)}} </button>
                    <ion-item [hidden]="!showModePay">
                        <ion-label>Mode de payement</ion-label>
                        <ion-select [(ngModel)]="modeP" (ngModelChange)="ionSelectChange($event) ">
                            <ion-option value="Mobile Monney">Mobile Monney</ion-option>
                            <ion-option value="Moov Monney">Moov Monney</ion-option>
                            <ion-option value="PayPal">PayPal</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-card-title>

                <p>
                    {{cours.description}}


                </p>
                <!-- <img [src]="cours.urlImg" /> -->
                <iframe width="100%" height="315" [src]="cours.urlVideo | videopipe" frameborder="0" allowfullscreen></iframe>
            </ion-card-content>
        </ion-card>

        <!--  <ion-item-group *ngFor="let group of groups" [hidden]="group.hide">

            <ion-item-divider sticky>
                <ion-label>
                    {{group.time}}
                </ion-label>
            </ion-item-divider>

            <ion-item-sliding *ngFor="let session of group.sessions" #slidingItem [attr.track]="session.tracks[0] | lowercase" [hidden]="session.hide">

                <button ion-item (click)="goToSessionDetail(session)">
              <h3>{{session.name}}</h3>
              <p>
                {{session.timeStart}} &mdash;
                {{session.timeEnd}}:
                {{session.location}}
              </p>
           </button>
                <ion-item-options>
                    <button ion-button color="favorite" (click)="addFavorite(slidingItem, session)" *ngIf="segment === 'all'">
            Favorite
          </button>
                    <button ion-button color="danger" (click)="removeFavorite(slidingItem, session, 'Remove Favorite')" *ngIf="segment === 'favorites'">
            Remove
          </button>
                </ion-item-options>

            </ion-item-sliding>

        </ion-item-group> -->

    </ion-list>

    <ion-list-header [hidden]="shownSessions > 0">
        No Sessions Found
    </ion-list-header>

    <ion-fab bottom right #fab>
        <button ion-fab><ion-icon name="share"></ion-icon></button>
        <ion-fab-list side="top">
            <button ion-fab color="vimeo" (click)="openSocial('Vimeo', fab)"><ion-icon name="logo-vimeo"></ion-icon></button>
            <button ion-fab color="google" (click)="openSocial('Google+', fab)"><ion-icon name="logo-googleplus"></ion-icon></button>
            <button ion-fab color="twitter" (click)="openSocial('Twitter', fab)"><ion-icon name="logo-twitter"></ion-icon></button>
            <button ion-fab color="facebook" (click)="openSocial('Facebook', fab)"><ion-icon name="logo-facebook"></ion-icon></button>
        </ion-fab-list>
    </ion-fab>


</ion-content>